
lab1/.vs/20.02/v14/.suo
lab1/20.02 calc/.vs/20.02 calc/v14/.suo
*.Cache
lab1/20.02/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lab1/20.02/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
lab1/20.02/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lab1/20.02/obj/Debug/20.02.pdb
lab1/20.02/obj/Debug/20.02.exe
lab1/20.02/obj/Debug/20.02.csproj.FileListAbsolute.txt
lab1/20.02/bin/Debug/20.02.vshost.exe.config
lab1/20.02/bin/Debug/20.02.vshost.exe
lab1/20.02/bin/Debug/20.02.pdb
lab1/20.02/bin/Debug/20.02.exe.config
lab1/20.02/bin/Debug/20.02.exe
.vs/
/lab7/bin/Debug/lab7.exe.config
/lab7/bin/Debug/lab7.pdb
/lab7/obj/Debug
/lab7/Properties
/ConsoleApplication1
/ConsoleApp1
